* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
p,
span {
  letter-spacing: 0.1rem;
}
h1,
h2,
h3 {
  margin: 1rem auto;
}
body {
  width: 100%;
}

//*==Project==*/
.header {
}
.nav {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  min-height: 10vh;
  color: #fff;
  align-items: center;
}
.logo {
  grid-column: 2/3;
  font-size: 2.4rem;
  color: #fff;
  font-weight: 900;
}
.burger {
  font-size: 2rem;
  justify-self: end;
  cursor: pointer;
}
.burger:active {
  transform: scale(0.9);
}
.section_hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.hero {
  height: 60%;
  width: 100%;
  position: relative;
}
.hero .hero-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
}

/*====== Clave Transition =>*/
.hero::after {
  content: " ";
  background-color: #000;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.3;
}
/*Slider*/
.slider {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
.headline {
  position: absolute;
  top: 60%;
  left: 5%;
  font-size: 50px;
  transform: translate(-10%, 70%);
  font-weight: 900;
  color: #fff;
  z-index: 3;
}
