* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
p,
span {
  letter-spacing: 0.1rem;
}
h1,
h2,
h3 {
  margin: 1rem auto;
}
body {
  width: 100%;
}

//*==Project==*/
.nav {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
}

/*Slider*/
.slider {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, rgb(101, 3, 131), rgb(8, 224, 224));
}
